<%= form_with(model: group, html: { class: 'needs-validation' }) do |form| %>
  <% if group.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h4>
      <ul class="mb-0">
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', size: 50, autofocus: true %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_field :description, class: 'form-control', size: 50 %>
  </div>

  <div class="form-check mb-3">
    <%= form.check_box :private, class: 'form-check-input' %>
    <%= form.label :private, 'Private?', class: 'form-check-label' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
