
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">Groups</h1>
  <%= link_to 'New Group', new_group_path, class: 'btn btn-primary' %>
</div>

<div class="card shadow-sm">
  <div class="card-body p-0">
    <table class="table table-hover mb-0">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th colspan="3" class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td class="text-end"><%= link_to 'Show', group, class: 'btn btn-outline-secondary btn-sm' %></td>
            <td class="text-end"><%= link_to 'Edit', edit_group_path(group), class: 'btn btn-outline-primary btn-sm' %></td>
            <td class="text-end"><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
