<%= form_with(model: user, html: { class: 'needs-validation' }) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul class="mb-0">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, class: 'form-control', size: 50, autofocus: true %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, class: 'form-control', size: 50 %>
  </div>

  <div class="mb-3">
    <%= form.label :username, class: 'form-label' %>
    <%= form.text_field :username, class: 'form-control', size: 50 %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, class: 'form-control', size: 50 %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class: 'form-label' %>
    <%= form.password_field :password_confirmation, class: 'form-control', size: 50 %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
