<%= form_with(model: user) do |form| %>
  <%= form.label "First Name" %>
  <%= form.text_field :first_name, :size => 50, :autofocus => true %>

  <%= form.label "Last Name" %>
  <%= form.text_field :last_name, :size => 50 %>

  <%= form.label "Username" %>
  <%= form.text_field :username, :size => 50 %>

  <%= form.label "Password" %>
  <%= form.password_field :password, :size => 50 %>

  <%= form.label "Password Confirmation" %>
  <%= form.password_field :password_confirmation, :size => 50 %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
