<p id="notice"><%= notice %></p>

<div class="card mb-4 shadow-sm">
	<div class="card-body">
		<h3 class="card-title mb-3"><%= @user.username %></h3>
		<ul class="list-group list-group-flush mb-3">
			<li class="list-group-item"><strong>First Name:</strong> <%= @user.first_name %></li>
			<li class="list-group-item"><strong>Last Name:</strong> <%= @user.last_name %></li>
			<li class="list-group-item"><strong>Username:</strong> <%= @user.username %></li>
		</ul>
	</div>
</div>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary me-2' %>
<%= link_to 'Back', users_path, class: 'btn btn-secondary' %>
