<p id="notice"><%= notice %></p>

<%= render 'menu' %>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <tr class="header">
      <td>Name</td>
      <td>Game</td>
    </tr>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= link_to card.game.name, game_path(card.game) %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
