<p id="notice"><%= notice %></p>

<h3>CARD INFORMATION</h3>

Name: <%= @card.name %>
<br>
Description: <%= @card.description %>
<br>
Game: <%= @card.game.name %><% if @card.game.edition.present? %> (<%= @card.game.edition %>)<% end %>
<p>

<h4>DETAILS</h4>
<% if @card.data %>
  <% @card.data.each_pair do |key, value| %>
    <%= key.upcase %>: <%= value %>
    <br>
  <% end %>
<% end %>
<p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
