<p id="notice"><%= notice %></p>

<div class="card shadow-sm mb-4">
  <div class="card-header">
    <h3 class="mb-0"><%= @card.name %></h3>
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Description:</strong> <%= @card.description %></p>
    <p class="card-text"><strong>Game:</strong> <%= link_to @card.game.name, @card.game %><% if @card.game.edition.present? %> (<%= @card.game.edition %>)<% end %></p>
  </div>
</div>

<% if @card.data %>
  <div class="card shadow-sm">
    <div class="card-header">
      <h4 class="mb-0">Details</h4>
    </div>
    <div class="card-body">
      <% data_hash = @card.data.respond_to?(:to_h) ? @card.data.to_h : @card.data %>
      <% if data_hash.is_a?(Hash) %>
        <dl class="row details-list">
          <% data_hash.each_pair do |key, value| %>
            <dt class="col-sm-3"><%= key.upcase %></dt>
            <dd class="col-sm-9"><%= value %></dd>
          <% end %>
        </dl>
      <% else %>
        <pre><%= JSON.pretty_generate(data_hash) %></pre>
      <% end %>
    </div>
  </div>
<% end %>

<div class="text-end mt-3 mb-4">
  <%= link_to 'Edit', edit_card_path(@card), class: 'btn btn-primary me-2' %>
  <%= link_to 'Back', cards_path, class: 'btn btn-outline-primary' %>
</div>
