<!DOCTYPE html>
<html>
  <head>
    <title>Deckbuilder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <p>

  <footer>
    <%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => "delete" %> 
  </footer>
</html>
